* {
    box-sizing: border-box
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 62.5%;
    height: 100%;
}

.container{
    width: 54.5%;
    margin: 0 auto;
    @media @tablet {
        width: 90%;
        margin: 0 auto;
    }
    @media @mobile {
        width: 100%;
    }
}

.hidden {
    display: none;
}

.footer-container{
    display: flex;
    background-color: #828282;
    height: 155px;
    align-items: stretch;
    padding: 20px;
    padding-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    @media @mobile {
        flex-direction: column;
        height: 5%;
        padding: 25px;
        
    }
    .location-lists{
        width: 20%;
        color: #ffffff;
        font-size: .6rem;
        margin-bottom: 10px;
        @media @mobile {
            width: 50%;
        }
        p{
            margin-bottom: 10px;
            @media @mobile {
                margin-bottom: 5px;
            }
        }
    }
    .footer-header{
        color: white;
        font-size: .9rem;
        margin-bottom: 7px;
        font-weight: bold;
    }
    form{
        margin-right: 50px;
        input{
            margin-bottom: 15px;
            margin-top: 5px;
            border-radius: 3px;
            border: none;
            height: 20px;
            width: 100%;
        }
    }
    .fineprint {
        color: white;
        @media @mobile {
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}