.home-page {
    border: 0.1px solid black;

    h1, h2 {
        font-weight: bold;
        font-size: 28px;
        color: @subheader-color;
    }

    h3 {
        background-color: @recent-square;
        width: 316px;
        height: 95px;
        font-size: 28px;
        letter-spacing: 2px;
        color: @subheader-color;
    }

    button {
        width: 137px;
        height: 47px;
        border-color: @button-borders;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .intro {
        background-image: url(../img/home/home-jumbotron.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100vw;
        max-height: 100vh;
        display: flex;
        justify-content: flex-start;
        
        .intro__jumbotron-header {
            // position: absolute;
            // top: 61.5vh;
            // left: 34vh;
            // display: flex;
            // justify-content: flex-start;
            // align-content: flex-end;
            font-weight: bold;
            font-size: 64px;
            line-height: 75px;
            color: @jumbotron-header-color;
        }
    }

    .smith-jones {
        max-width: 40.04vw;
        padding-left: 8.4vw;
        padding-right: 8.4vw;
        display: flex;
        justify-content: space-between;
        border: 0.1px solid blue;

        .smith-jones__left-box {
            width: 51%;
            display: flex;
            flex-wrap: wrap;
            // padding: 5vh;
            border: 0.1px solid green;
        }

        .smith-jones__right-box {
            // margin: 30px 86px 30px auto;
            width: 49%;
            margin-right: 2.5vw;
            background-image: url("../img/home/home-img-1.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 410px;
            height: 275px;
            justify-content: flex-end;
            border: 0.1px solid purple;
        }
    }

    .future-designs {
        display: flex;
        justify-content: space-between;
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        border: 0.1px solid blue;

            .future-designs__right-box {
                width: 49%;
                display: flex;
                flex-wrap: wrap;
                padding-top: 5vh;
                padding-bottom: 5vh;
                padding-left: 2.5vw;
                padding-right: 0;
                margin-right: 0;
                // padding: 5vh 0 5vh 2.5vw;
                border: 0.1px solid green;
            }

            .future-designs__left-box {
            width: 49%;
            background-image: url("../img/home/home-img-2.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 410px;
            height: 275px;
            justify-content: flex-end;
            border: 0.1px solid purple;
        }
    }

    .recent-projects {
        .recent-projects__h2 {
            margin: 50px 0 25px 86px;
        }
    }

    .villas {
        // height: 100%;

        .villas__img {
            position: relative;
            background-image: url(../img/home/home-villas-img.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 230px;
            width: 852px;
            margin-top: 5%;
            margin-right: 86px;
            margin-left: 5%;
            margin-left: 86px;
            border: 0.1px solid red;
            display: flex;
            justify-content: center;

            .villas__box {
            background-color: @background-color;
            position: absolute;
            width: 317px;
            height: 96px;
            left: 63%;
            top: 70%;

                h3 {
                    padding: 5vh;
                    text-align: center;
                    font-size: 2.3rem;
                }
            }
        }

        p {
            width: 50%;
            text-align: justify;
            border: 0.1% solid blue;
        }
    }

}