.home-page {

    h1, h2 {
        font-weight: bold;
        font-size: 28px;
        color: @subheader-color;
    }

    h3 {
        background-color: @recent-square;
        width: 316px;
        height: 95px;
        font-size: 28px;
        letter-spacing: 2px;
        color: @subheader-color;
    }

    button {
        width: 137px;
        height: 47px;
        // padding: 20px;
        border-color: @button-borders;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .smith-jones {
        display: flex;
        justify-content: space-between;
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        border: 0.1px solid blue;

        .smith-jones__left-box {
            width: 51%;
            display: flex;
            flex-wrap: wrap;
            padding: 5vh;
            border: 0.1px solid green;
        }

        .smith-jones__right-box {
            // margin: 30px 86px 30px auto;
            width: 49%;
            background-image: url("../img/home/home-img-1.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 43.4vh;
            height: 29.2vh;
            justify-content: flex-end;
            border: 0.1px solid purple;
        }
    }

    .future-designs {
        display: flex;
        justify-content: space-between;
        padding-top: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;
        border: 0.1px solid blue;

            .future-designs__right-box {
                width: 51%;
                display: flex;
                flex-wrap: wrap;
                padding: 5vh;
                border: 0.1px solid green;
            }

            .future-designs__left-box {
            width: 49%;
            background-image: url("../img/home/home-img-2.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 43.4vh;
            height: 29.2vh;
            justify-content: flex-end;
            border: 0.1px solid purple;
        }
    }

    .recent-projects {
        .recent-projects__h2 {
            margin: 50px 0 50px 86px;
        }
    }

    .villas {
        position: relative;
        margin-bottom: 300px;

        .villas-overlap {
                        
            img {
                width: 852px;
                margin: 0 86px 50px 86px;
                position: absolute;
                z-index: 0;
            }

            .villas__box {

                h3 {
                    position: absolute;
                    z-index: 1;
                    margin: 230px 86px 0 623px;
                    display: flex;
                    justify-content: center;
                }
            }

            .villas__p1 {
                margin: 250px 86px 50px 86px;
            }
        }        
    }

}