.intro {
    position: relative;
    margin-bottom: 598px;
    // display: none;

    .intro__jumbotron-header {
            position: absolute;
            z-index: 1;
            margin-top: 20%;
            margin-left: 6.3%;
            font-weight: bold;
            font-size: 64px;
            line-height: 75px;
            color: @jumbotron-header-color;
    }

    .intro__img {
            position: absolute;
            z-index: 0;
    }
}