.menu {

    .menu-inactive {

    }

    .menu-expanded {
        display: none;
        

        .menu-items {
            font-weight: bold;
            font-size: 48px;
            line-height: 85px;
            color: @nav-text-color;

            a:hover {
                color: @nav-text-hover-color;
            }
        }
    }
}